%header.header
  %div.header__upper
    %div.grid-container
      %div.grid-100
        %h1.heading.-large.-signature.margin-b0
          = business_name
  %div.header__lower
    %div.grid-container
      %div.grid-100
        %nav
          %ul.js-openable-links
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'Order', order_path
            %li
              = link_to 'Portfolio', photos_path
            %li
              = link_to 'Artwork', artworks_path
            %li
              = link_to 'Fonts', fonts_path
            %li.dropdown
              %div.dropdown__label
                = link_to 'About', '#'
              %ul.dropdown__menu
                %li
                  = link_to 'Rock Solid Memories', about_path
                %li
                  = link_to 'Sizes and Prices', sizes_path
                %li
                  = link_to 'Materials', materials_path
                %li
                  = link_to 'Contact', new_email_path
